.btn {
    background-color: transparent;
    border: 0;
    margin: 10px;
    cursor: pointer;
    display: flex;
}

.sm {
    padding: 8px 8px;
    font-size: 12px;
    border-radius: 8px;
}

.md {
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 8px;
}

.lg {
    padding:12px 30px;
    font-size: 18px;
    border-radius: 8px;
}

.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.textprimary {
    color: #007bff;

}

.secondary {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.textsecondary {
    color: #5a6268;
}

.success {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.textsuccess {
    color: #218838;
}

.info {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.textinfo {
    color: #138496;
}

.warning {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}

.textwarning {
    color: #e0a800;
}

.danger {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    border-radius: 8px;
}

.textdanger {
    color: #c82333;
}


.disabled {
    color: rgb(208, 206, 206);
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: default;
}

.outlineprimary {
    border: 1px solid #007bff;
}

.outlinesuccess {
    border: 1px solid #218838;
}

.outlineinfo {
    border: 1px solid #138496;
}

.outlinewarning {
    border: 1px solid #e0a800;
}

.outlinedanger {
    border: 1px solid #c82333;
}

.boxShadow {
    border-radius: 23px;
    box-shadow: 1px 2px 7px 2px rgb(237, 235, 235);
}